

body {
    margin: 0px;
}
#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    border: 3px solid black;
    height: 99vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#app > div {
   /* border: 5px solid red;*/
}


#moveContainer {
    display: flex;
    flex-direction: row;
    height: 15vh;
    align-items: center;
    
}

#moveContainer > div {
    margin: 5px;
}

.moves {
    cursor: pointer;
}

#title {
    height: 8vh;
}

.buttons {
    height: 8vh;
    display: flex;
    align-items: flex-end;
}
.buttons > button {
    border-radius: 25px;
    height: 5vh;
    background-color: rgba(220, 218, 226, 0.904);
    cursor: pointer;
    
}
